<div class="row anim" id="clear_night">
    <div class="weather">
        <div id="star1" class="star"></div>
        <div id="moon"></div>
        <div id="star2" class="star"></div>
        <div id="star3" class="star"></div>
    </div>
</div>

<div class="row anim" id="clear_day">
    <div class="weather">
        <div id="rays" class="rays"></div>
        <div id="sun" class="sun"></div>
    </div>
</div>

<div class="row anim" id="clouds">
    <div class="weather">
        <div id="miniDarkCloud" class="cloud"></div>
        <div id="cloud" class="cloud"></div>
    </div>
</div>

<div class="row amim" id="cloudy_day">
    <div class="weather">
        <div id="miniRays" class="rays"></div>
        <div id="miniSun" class="sun"></div>
        <div id="miniCloud" class="cloud"></div>
    </div>
</div>

<div class="row anim" id="rain">
    <div class="weather">
        <div id="raindrop1" class="raindrop"></div>
        <div id="raindrop2" class="raindrop"></div>
        <div id="raindrop3" class="raindrop"></div>
        <div id="raindrop4" class="raindrop"></div>
        <div id="darkCloud" class="cloud"></div>
    </div>
</div>