<div class="i_clear_dayd stat">
    <i class="fas fa-sun" style="font-size: 40px; color:yellow"></i>
</div>

<div class="i_clear_nightd stat">
    <i class="fas fa-moon" style="font-size: 40px; color:gray"></i>
</div>

<div class="i_cloud_dayd stat">
    <i class="fas fa-cloud-sun" style="font-size: 40px;"></i>
</div>

<div class="i_cloud_nightd stat">
    <i class="fas fa-cloud-moon" style="font-size: 40px;"></i>
</div>

<div class="i_cloudsd stat">
    <i class="fas fa-cloud" style="font-size: 40px; color:gray"></i>
</div>

<div class="i_drizd stat">
    <i class="fas fa-tint" style="font-size: 40px; color: aqua"></i>
</div>

<div class="i_raind stat">
    <i class="fas fa-cloud-rain" style="font-size: 40px; color: aqua"></i>
</div>

<div class="i_rain_heavyd stat">
    <i class="fas fa-cloud-showers-heavy" style="font-size: 40px; color: gray"></i>
</div>

<div class="i_thunderd stat">
    <i class="fas fa-bolt" style="font-size: 40px; color: yellow"></i>
</div>

<div class="i_snowd stat">
    <i class="far fa-snowflake" style="font-size: 40px;"></i>
</div>

<div class="i_snow_heavyd stat">
    <img src="https://img.icons8.com/wired/50/000000/snow.png" />
</div>

<div class="i_windd stat">
    <i class="far fa-wind" style="font-size: 40px;"></i>
</div>

<div class="i_fogd stat">
    <i class="fas fa-smog" style="font-size: 40px; color: gray"></i>
</div>

<div class="i_iced stat">
    <img src="https://img.icons8.com/carbon-copy/50/000000/sleet.png" />
</div>