<div class="i_clear_day stat">
    <i class="fas fa-sun" style="font-size: 40px; color:yellow"></i>
</div>

<div class="i_clear_night stat">
    <i class="fas fa-moon" style="font-size: 40px; color:gray"></i>
</div>

<div class="i_cloud_day stat">
    <i class="fas fa-cloud-sun" style="font-size: 40px;"></i>
</div>

<div class="i_cloud_night stat">
    <i class="fas fa-cloud-moon" style="font-size: 40px;"></i>
</div>

<div class="i_clouds stat">
    <i class="fas fa-cloud" style="font-size: 40px; color:gray"></i>
</div>

<div class="i_driz stat">
    <i class="fas fa-tint" style="font-size: 40px; color: aqua"></i>
</div>

<div class="i_rain stat">
    <i class="fas fa-cloud-rain" style="font-size: 40px; color: aqua"></i>
</div>

<div class="i_rain_heavy stat">
    <i class="fas fa-cloud-showers-heavy" style="font-size: 40px; color: gray"></i>
</div>

<div class="i_thunder stat">
    <i class="fas fa-bolt" style="font-size: 40px; color: yellow"></i>
</div>

<div class="i_snow stat">
    <i class="far fa-snowflake" style="font-size: 40px;"></i>
</div>

<div class="i_snow_heavy stat">
    <img src="https://img.icons8.com/wired/50/000000/snow.png" />
</div>

<div class="i_wind stat">
    <i class="far fa-wind" style="font-size: 40px;"></i>
</div>

<div class="i_fog stat">
    <i class="fas fa-smog" style="font-size: 40px; color: gray"></i>
</div>

<div class="i_ice stat">
    <img src="https://img.icons8.com/carbon-copy/50/000000/sleet.png" />
</div>